.sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 220px;
    z-index: 1000;
    background: #333;
}

.sidebar-footer a {
    padding: 7px 0 20px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #333;
}

.sidebar-footer a:hover {
    background: #425567;
}